{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
		<h1 class="mt-4">Formulaire de connnexion</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% if error %}
			<div class="alert alert-danger mt-4">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<form action="{{ path('login.user') }}" method="post" name="login">
			<div class="form-group">
				<label for="username" class="form-label mt-4">Adresse email</label>
				<input type="email" class="form-control" id="username" name="_username" placeholder="exemple@iut.fr" value="{{ last_username }}">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="password" class="form-label mt-4">Mot de passe</label>
				<input type="password" class="form-control" id="password" name="_password" placeholder="********">
			</div>

			<button type="submit" class="btn btn-primary mt-4">
				Se connecter
			</button>
		</form>
	</div>

{% endblock %}
